__pycache__/sayings.cpython-313.pyc
__pycache__/calculator.cpython-313.pyc
__pycache__/test_calculator.cpython-313-pytest-9.0.2.pyc
test/__pycache__/__init__.cpython-313.pyc
test/__pycache__/test_calculator.cpython-313-pytest-9.0.2.pyc
